.rdrDateDisplayItem input,
.rdrMonthName,
.rdrWeekDay {
  color: black;
}

.rdrDayDisabled .rdrDayNumber span {
  color: #746D75;
}

@media (max-width: 600px) {
  .rdrCalendarWrapper {
    width: 270px;
  }
}