.header {
  background-color: white;
  position: fixed;
  width: 100vw;
}

.logo {
  width: 100px;
  height: 100PX;
  margin: 5px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-link:hover {
  /* underlined transition  */
}